/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 
    Author     : 
*/
.carousel .item {
  height: 500px;
}

.item img {
    position: absolute;
    object-fit:cover;
    top: 0;
    left: 0;
    min-height: 500px;
}

[class*="col-"].gris {
    background-color: grey;
    border:solid 1px white;
    padding-top: 15px;
    padding-bottom: 15px;
}
.bg-pink {
  background-color: #f1a0dc !important;
}

.bg-faded {
  background: linear-gradient(#f1a0dc,white) !important;
}

.red{
    color: #cc0000 !important;
}

.pink {
  color: #ff62cd !important;
}

#brand-image{
    height: 40px;
}


.btn-rose {
  color: #fff;
  background-color: #ff62cd !important;
  border-color: #ff62cd !important;
}

.btn-rose:hover {
  color: #fff;
  background-color: #e919a7 !important;
  border-color: #e919a7 !important;
}

.btn-rose:focus, .btn-rose.focus {
  box-shadow: 0 0 0 0.2rem rgba(246, 168, 221, 0.5);
}

.btn-rose.disabled, .btn-rose:disabled {
  color: #fff;
  background-color: #ff62cd !important;
  border-color: #ff62cd !important;
}

.btn-rose:not(:disabled):not(.disabled):active, .btn-rose:not(:disabled):not(.disabled).active,
.show > .btn-rose.dropdown-toggle {
  color: #fff;
  background-color: #ff62cd !important;
  border-color: #ff62cd !important;
}

.list-group-item-action-rose{
  color: #ff62cd !important;
}

#jumbo2{
    
}

