.ct-legend {
    position: relative;
    z-index: 10;

    li {
        position: relative;
        padding-left: 23px;
        margin-bottom: 3px;
    }

    li:before {
        width: 12px;
        height: 12px;
        position: absolute;
        left: 0;
        content: '';
        border: 3px solid transparent;
        border-radius: 2px;
    }

    li.inactive:before {
        background: transparent;
    }

    &.ct-legend-inside {
        position: absolute;
        top: 0;
        right: 0;
    }
    $colors: darkslateblue rgb(196, 21, 240) seagreen rgb(19, 95, 42) #ed1440 #9a0db0 #fea20e;
    @for $i from 0 to length($colors) {
        .ct-series-#{$i}:before {
            background-color: nth($colors, $i + 1);
            border-color: nth($colors, $i + 1);
        }
        .ct-series-#{$i} .ct-bar, .ct-series-j .ct-line, .ct-series-#{$i} .ct-slice-donut, .ct-series-#{$i} .ct-slice-donut {
            stroke: nth($colors, $i + 1);
        }
    }
}