/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 
    Author     : 
 */
 

@keyframes text-focus-in {
  0% {
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    filter: blur(0px);
    opacity: 1;
  }
}

.text-focus-in {
	animation: text-focus-in 0.7s cubic-bezier(0.550, 0.085, 0.680, 0.530);
}

@keyframes heartbeat {
  from {
    transform: scale(1);
    transform-origin: center center;
    animation-timing-function: ease-out;
  }
  10% {
    transform: scale(0.91);
    animation-timing-function: ease-in;
  }
  17% {
    transform: scale(0.98);
    animation-timing-function: ease-out;
  }
  33% {
    transform: scale(0.87);
    animation-timing-function: ease-in;
  }
  45% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
}

.heartbeat {
	animation: heartbeat 1.5s ease-in-out infinite both;
}




.carousel .item {
  height: 500px;
}

.item img {
    position: absolute;
    object-fit:cover;
    top: 0;
    left: 0;
    min-height: 500px;
}

[class*="col-"].gris {
    background-color: grey;
    border:solid 1px white;
    padding-top: 15px;
    padding-bottom: 15px;
}
.bg-pink {
  background-color: #f1a0dc !important;
}

#jumbo1.bg-faded {
  background: linear-gradient(#f1a0dc,white) !important;
}
#jumbo2.bg-faded {
  background: linear-gradient(white,#f1a0dc) !important;
}

.red{
    color: #cc0000 !important;
}

.pink {
  color: #ff62cd !important;
}

#brand-image{
    height: 40px;
}


.btn-rose {
  color: #fff;
  background-color: #ff62cd !important;
  border-color: #ff62cd !important;
}

.btn-rose:hover {
  color: #fff;
  background-color: #e919a7 !important;
  border-color: #e919a7 !important;
}

.btn-rose:focus, .btn-rose.focus {
  box-shadow: 0 0 0 0.2rem rgba(246, 168, 221, 0.5);
}

.btn-rose.disabled, .btn-rose:disabled {
  color: #fff;
  background-color: #ff62cd !important;
  border-color: #ff62cd !important;
}

.btn-rose:not(:disabled):not(.disabled):active, .btn-rose:not(:disabled):not(.disabled).active,
.show > .btn-rose.dropdown-toggle {
  color: #fff;
  background-color: #ff62cd !important;
  border-color: #ff62cd !important;
}

.list-group-item-action-rose{
  color: #ff62cd !important;
}

#jumbo2{
    
}

.ac_results {
	padding: 0px;
	border: 1px solid #f48fdc;
	background-color: #f48fdc;
	overflow: hidden;
}

.ac_results ul {
	width: 100%;
	list-style-position: outside;
	list-style: none;
	padding: 0;
	margin: 0;
}

.ac_results li {
	margin: 0px;
	padding: 2px 5px;
	cursor: default;
	display: block;
	color: #fff;
	font-family:verdana;
	/* 
	if width will be 100% horizontal scrollbar will apear 
	when scroll mode will be used
	*/
	/*width: 100%;*/
	font-size: 12px;
	/* 
	it is very important, if line-height not setted or setted 
	in relative units scroll will be broken in firefox
	*/
	line-height: 16px;
	overflow: hidden;

}

.ac_odd {
	background-color: #f48fdc;
	color: #ffffff;
}

.ac_over {
	background-color: #da6ac0;
	color: #ffffff;
}


.input_text{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	border:1px solid #84a10b;
	padding:2px;
	width:150px;
	color:#000;
	background:white url(../images/search.png) no-repeat 3px 2px;
	padding-left:17px;
}

